html,
body {
    height: 100%;
    top: 0;
    text-align: center;
    scroll-behavior: smooth;
}

ul {

    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    list-style: none;


}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

h3 {
    font-family: times;
    font-size: 70px;
    color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: chartreuse;

}

.link {
    cursor: pointer;
    margin: 2px;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    border-color: antiquewhite;
    border-style: solid;
    height: 50px;
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
}

.link:hover {
    background-color: antiquewhite;
}

a {
    text-decoration-line: none;
    color: purple;
}

a:hover {
    color: purple;
    text-decoration-line: none;
}

section {
    height: 100%;
    border: 1px white solid;
}

#home {

    background-image: url('https://content3.jdmagicbox.com/comp/ahmedabad/90/079p252290/catalogue/st-xaviers-school-hansol-ahmedabad-schools-0m4o6.jpg');
    background-position: center;
    background-size: cover;
}

.abc {
    background-color: #EADCFF;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}


#div_container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.inside {
    margin: .5px;
    border: solid 1px grey;
}

h4,
h5 {
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

.img {
    width: 300px;
    height: 400px;
    transition-duration: .5s;
}

.img:hover {
    width: 320px;
    height: 420px;
}

.hidden {
    visibility: hidden;


}

.divvv {
    margin: 5px;
    border: 1px solid darkgray;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;

}
